{% extends "base.html.twig" %}

{% block title %}
About Us | {{parent()}}
{% endblock %}

{% block body %}

    <h1>Built with &hearts; By Haouari Badredine</h1>

    <p><a href="{{path('app_home')}}">Revenir à la page d'accueil</a></p>

{% endblock %}